In [43]:
# Exp no: 7

In [ ]:
# Aim: To perform

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
import os

In [7]:
os.getcwd()

'C:\\Users\\Admin'

In [10]:
os.chdir("C:\\Users\\Admin\\OneDrive\\Desktop")

In [11]:
df=pd.read_csv("salary_data.csv")

In [12]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [13]:
df.tail()

    YearsExperience    Salary
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [14]:
df.head(30)

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 612.0 bytes

In [16]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [17]:
df.shape

(30, 2)

In [18]:
df.size

60

In [19]:
df.ndim

2

In [20]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [21]:
#Independent and Dependent Variables
#x = df['YearsExperience']
#y = df['Salary']

# Independent and Dependent Variables

In [22]:
X=df.drop('Salary',axis=1)

In [23]:
X.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [24]:
y=df.Salary

In [25]:
y.head()

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.30)

In [28]:
print(X_train.shape)

(21, 1)

In [29]:
X_test.shape

(9, 1)

# Model Fitting

In [30]:
from sklearn.linear_model import LinearRegression
LR=LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [31]:
#Assigning Coefficient (slope) to m
m = LR.coef_

In [32]:
print("Coefficient  :" , m)

Coefficient  : [9360.26128619]

In [33]:
#Assigning Y-intercept to a
c = LR.intercept_

In [34]:
print("Intercept : ", c)

Intercept :  26777.39134119764

# y=mx+c

# Prediction

In [35]:
y_pred=LR.predict(X_test)

In [36]:
y_pred

array([ 40817.78327049, 123188.08258899,  65154.46261459,  63282.41035735,
       115699.87356004, 108211.66453108, 116635.89968866,  64218.43648597,
        76386.77615802])

In [37]:
y_test

2      37731.0
28    122391.0
13     57081.0
10     63218.0
26    116969.0
24    109431.0
27    112635.0
11     55794.0
17     83088.0
Name: Salary, dtype: float64

# Evaluation metrics

In [38]:
from sklearn import metrics

Accuracy

In [39]:
Accuracy = LR.score(X_test, y_test)
Accuracy

0.9740993407213511

MAE

In [40]:
print(metrics.mean_absolute_error(y_test,y_pred))

3737.4178618788987

MSE

In [41]:
print(np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

4834.260936361728

RMSE

In [42]:
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
print("RMSE:", rmse)

RMSE: 4834.260936361728